<div class="container">
    <h2>Gestión de Usuarios</h2>
  
    <!-- Botón para agregar un usuario -->
    <button class="btn btn-primary" (click)="abrirFormulario()">Agregar Usuario</button>
  
    <!-- Tabla de usuarios -->
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Nombre de Usuario</th>
          <th>Fecha y Hora</th>
          <th>Estado</th>
          <th>Motivo de Bloqueo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (usuario of usuarios; track usuario.id){
            <tr>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.nombreUsuario }}</td>
                <td>{{usuario.fechaCreacion| date:"MMM dd yyyy, hh:mm a"}}</td>
                <td [ngClass]="usuario.estado === 'ACTIVO' ? 'estado-activo' : 'estado-bloqueado'">{{ usuario.estado }}</td>
                @if (usuario.estado == "ACTIVO"){
                  <td>-</td>
                }@else {<td>{{usuario.motivoBloqueo| formateoMotivo}}</td>}
                <td>
                  <button class="btn btn-warning btn-sm" (click)="editarUsuario(usuario.id)">Editar</button>
                  @if (usuario.estado == "ACTIVO"){
                    <button class="btn btn-danger btn-sm" (click)="bloquearUsuario(usuario.id)"> Bloquear</button>
                  }@else {
                    <button class="btn btn-danger btn-sm" (click)="desbloquearUsuario(usuario.id)">Desbloquear</button>
                  }
                  <button class="btn btn-secondary btn-sm" (click)="eliminarUsuario(usuario.id)">Eliminar</button>
                </td>
            </tr>

        }
        @if(usuarios.length===0){
            <tr >
                <td colspan="6" class="text-center">No hay usuarios disponibles.</td>
            </tr>
        }
      </tbody>
    </table>
  </div>
  
  <!-- Modal para formulario (opcional) -->
   @if (mostrarFormulario){
    <div class="modal">
        <div class="modal-content">
          <h3>{{ usuarioSeleccionado ? 'Editar Usuario' : 'Agregar Usuario' }}</h3>
          <app-usuarios-form [userId]="usuarioSeleccionado" (guardarEvent)="guardarUsuario($event)"></app-usuarios-form>
        </div>
    </div>
   }
    

   @if (mostrarFormularioBloqueo){
    <div class="modal">
        <div class="modal-content">
          <app-bloquear-usuario [userId]="usuarioSeleccionado" (guardarEvent)="guardarUsuario($event)"></app-bloquear-usuario>
        </div>
    </div>

   }